body {
    background-image: url(../assets/banner.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}

.titulo {
    font-size: 30px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 30px 20px 30px 20px;
    border: solid 3px white;
}

header {
    background-color: #578f579a;
}

.presentacion {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 30px;
    padding: 35px;
    font-size: 15px;
    text-decoration: underline;
    text-align: right;
    height: 50px;
    padding: 35px;
}

.terapia1 {
    text-align: left;
    display: flex;
    padding: 35px;
    height: 50px;
    width: 50px;
}

.terapia2 {
    text-align: center;
    display: flex;
    padding: 35px;
    height: 50px;
    width: 50px;
}

.terapia3 {
    text-align: right;
    display: flex;
    padding: 35px;
    height: 50px;
    width: 50px;
}

.inicio {
    padding: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.quien-soy {
    padding: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.opiniones {
    padding: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tarifas {
    padding: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.reserva-tu-cita {
    padding: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contacto {
    padding: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.photo1 {
    background-image: url(../assets/photo1.jpeg);
    background-repeat: no-repeat;
    padding: 80px;
    height: 80px;
    width: 80px;
}

.photo2 {
    background-image: url(../assets/photo2.webp);
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px;
    height: 80px;
    width: 80px;
}

.photo3 {
    background-image: url(../assets/photo3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px;
    height: 80px;
    width: 80px;
}